/* 전체 CSS*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

@font-face {
    font-family: 'RIDIBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    margin: 0;
    color: white;
    background-color: #141617;
    font-size: medium;
    font-family: 'Nanum Gothic', sans-serif;
    overflow-x: hidden;
    white-space: normal;
    word-break:break-all;
}

.emphasized {
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
}

/* 티스토리 도메인으로 이동 버튼 */
#convert a:hover {
    color: white;
}

.inputs {
    margin-top: 10px; 
    width: 100%; 
    background: transparent; 
    color:lightgray; 
    outline: none;
    /* border: solid 1px lightgray; */
    /* box-shadow: lightgrey 1px 1px 5px 1px; */
}

.submit_button {
    float:right; 
    border: none; 
    background: dodgerblue; 
    color:white; 
    cursor: pointer;
    /* outline: none;  */
    /* box-shadow: lightgrey 1px 1px 5px 1px; */
    /* font-size:medium; */
}

/* 쿠팡 다크모드 대비 */
iframe {
	background-color: white;
}

/* body::-webkit-scrollbar {
	width: 20px;
}

body::-webkit-scrollbar-thumb {
	background-color: yellow; 
    background-clip: padding-box;
    border: 4px solid transparent;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

body::-webkit-scrollbar-track {
	background-color: grey;
} */

a {
    text-decoration: none;
    color: dodgerblue;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: hotpink;
    
}

/* 애드센스 자동광고 여백주기 */
/* .ap_container {
    margin-top: 20px;
} */


.ads {
    text-align:center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.sidebar_ads {
    text-align:center;
}

.reply-logo {
    width:32px;
    height:32px;
    background-color:black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    box-shadow: 1px 1px 3px 1px #dadce0;
}


.rp_admin img {
    display: none;
}
.rp_general img {
    display: none;
}

.guest_admin img {
    display: none;
}
.guest_general img {
    display: none;
}

.blogImage img {
    width: 80%;
}

.nav-up {
    top: -50px;
}

.nav-down {
    top: 0;
}

.nav-up1 {
    top: 0px !important;
    height: 100% !important;
}

.nav-down1 {
    top: 54px !important; 
    height: calc(100% - 54px) !important;
}

.nav-up2 {
    bottom: -40px;
}

.nav-down2 {
    bottom: 0px; 
}

/* 헤더 CSS */
header {
    display:flex; 
    align-items: center;
    
    justify-content: space-between;

    height: 50px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    font-size: large;
    
    background-color: #2F3336;
    z-index: 5;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    /* transition: 0.5s; */
}

header a {
    text-decoration: none;
    color: white;
}

#header-menu {
    display: inline;
}

header #header-menu a {
    margin: 0 10px;
    font-size: medium;
}

.cursor {
	position: relative;
}
.cursor	i {
	position: absolute;
	width: 10px;
	height: 3px;
	background-color: white;
	left: 0px;
	top: 90%;
	animation-name: blink;
	animation-duration: 800ms;
	animation-iteration-count: infinite;
	opacity: 1;
}

.cursor input:focus + i {
	display: none;
}

@keyframes blink {
	from { opacity: 1; }
	to { opacity: 0; }
}

/* 공감버튼 조절용 */ 

.container_postbtn {
    text-align:center;
}

.container_postbtn .postbtn_like {
    float:none !important; 
    display: inline-block;
    border-radius: 0 !important;
    border-left: 5px #0096c6 solid !important;
    box-shadow: lightgrey 1px 1px 5px 1px;
    font-weight: bold !important;
}

.container_postbtn .btn_subscription {
    display: block;
}

.container_postbtn .postbtn_like + .btn_menu_toolbar {
    margin: auto !important; 
    border-radius: 0;
    border-left: 5px #0096c6 solid;
    box-shadow: lightgrey 1px 1px 5px 1px;
    font-weight: bold !important;
}

#container_and_sidebar {
    display: grid;
    grid-template-columns: 1fr 350px;
    margin-top: 50px;
    /* margin-bottom: 40px; */
}

#openbtn {
    display: none;
}

#sidebar-mobile {
    display:none;
}

/* 사이드바 CSS */

.sidenav {
    width: 352px;
    background-color: #212426;
    border-left: 2px solid black;
    display: block;
    height: calc(100% - 52px);
    position: fixed;
    top: 52px;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: default;
    z-index: 10;
    /* transition: 0.5s; */
}

/* .sidenav::-webkit-scrollbar {
	width: 5px;
}

.sidenav::-webkit-scrollbar-thumb {
	background-color: yellow; 
    background-clip: padding-box;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sidenav::-webkit-scrollbar-track {
	background-color: darkgrey;
} */



.sidenav a {
    color: white;
}

.sidenav a:hover {
    color: hotpink;
}

.sidebar-title {
    background-color: #2F3336;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 20px;

}

.sidebar-body {
    padding: 20px;
}


#sidebar_category .sidebar-body > ul {
    padding-left: 0;
    margin: 0;
    list-style: none; 
}

#sidebar_category .sidebar-body > ul > li::before {
    content: "\f0b1";
    font-family:"Font Awesome 5 Free";
    font-weight: 900;
    color: dodgerblue;
    margin-right: 5px;
}


#sidebar_category .sidebar-body > ul > li > ul {
    padding-left: 20px;
    list-style: none;
}


#sidebar_category .sidebar-body > ul > li > ul > li::before {
    content: "\f07c";
    font-family:"Font Awesome 5 Free";
    font-weight: 900;
    color: yellow;
    margin-right: 5px;
}


#sidebar_category .sidebar-body > ul > li > ul > li > ul {
    padding-left: 20px;
    list-style: none;
}

#sidebar_category .sidebar-body > ul > li > ul > li > ul > li::before {
    content: "\f07b";
    font-family:"Font Awesome 5 Free";
    font-weight: 900;
    color: yellow;
    margin-right: 5px;
}

.sidebar_grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.sidebar_grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sidebar_grid_logo {
    display: grid;
    grid-template-columns: 50px 150px 1fr;
}

.sidebar_grid_info {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.main_grid {
    display: flex;
    align-items: center;
    column-gap: 10px;
    min-height: 80px;
}

.main_grid_sub {
    display: grid;
}

#sidebar_notice ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar_notice ul > li {
    list-style: none;
}


#sidebar_rep ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#sidebar_rep ul > li {
    list-style: none;
}

#sidebar_recent_post ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#sidebar_recent_post ul > li {
    list-style: none;
}


#sidebar_recent_hot ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#sidebar_recent_hot ul > li {
    list-style: none;
}

.sidebar_recent a{
    color: aqua;
}


/* 콘테이너 CSS */
#container {
    width: 100%;
    height: 100%;
    background-color: #141617;

    /* min-height: 100vh; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#container #article {
    color: lightgray;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

#container #article img {
    background-color: white;
}

#container #article li {
    border-bottom: 1px solid #EAECEF;
}

#container #notice {
    color: lightgray;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

#container #notice img {
    background-color: white;
}

#container #protect {
    color: lightgray;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

#container #category {
    color: white;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

#container #category #category_thumb {
    background-color: white;
}

.main-title {
    background-color: #2F3336;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 5px;
    text-align: justify;
    font-size: large;
}

.main-title a {
    color: white;
}

.main-title a:hover {
    color: hotpink;
}

.main-category {
    color: gray;
    font-size: medium;

}

.main-category a {
    text-decoration: none;
    color: gray;
}

.main-category a:hover {
    text-decoration: none;
    color: gray;
}

.main-time {
    
    display: inline;
    float: right;
    right: 0;
    top: 0;
    background-color: red;
    color: white;
    padding: 5px 10px;
}

.main-contents {
    text-align: justify;
	font-size: large; 
    line-height: 1.5;
	font-family: 'NEXON Lv1 Gothic OTF';
}

.main-contents a {
    text-decoration: underline;
}


#container #comment {
    text-align: justify;
    font-size: large;
    line-height: 1.5;
	font-family: 'NEXON Lv1 Gothic OTF'; 
} 

#container #comment a {
    color: lightgray;
}

#container #comment a:hover {
    color: hotpink;
}

#container #comment #commentWrite {
    margin: auto;
    max-width: 800px;
    color: lightgray;
    padding: 20px;
}

#container #comment #commentList {
    color: lightgray;
    text-align: justify;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

#container #comment #commentList > ol {
    list-style: none;
    padding-left: 0;
}

#container #comment #commentList > ol > li {
    list-style: none;
    padding-left: 0;
    /* border-top: solid 1px #EAECEF; */
    padding-top: 10px;
    padding-bottom: 10px;

}

#container #comment #commentList > ol > li > ul {
    padding-left: 0;
}

#container #comment #commentList > ol > li > ul > li {
    list-style: none;
    padding-left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}

#reply-note {
    /* border-top: dashed 2px gray;  */
    /* border-bottom: dashed 2px lightgray; */
    margin: auto;
    max-width: 800px;
    color: lightgray;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

#container #guest {
    text-align: justify;
    font-size: large; 
    line-height: 1.5;
	font-family: 'NEXON Lv1 Gothic OTF';
} 

#container #guest a {
    color: lightgray;
}

#container #guest a:hover {
    color: hotpink;
}

#container #guest #respond {
    margin: auto;
    max-width: 800px;
    color: lightgray;
    padding: 20px;
}


#container #guest #guest_list {
    text-align: justify;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    color: lightgray;
}

#container #guest #guest_list > ol {
    padding-left: 0;
    list-style: none;
    margin: 0;

}

#container #guest #guest_list > ol > li {
    padding-left: 0;
    list-style: none;
    margin: 0;
    /* border-top: solid 1px #EAECEF; */
    padding-top: 10px;
    padding-bottom: 10px;

}

#container #guest #guest_list > ol > li > ul {
    padding-left: 0;
}

#container #guest #guest_list > ol > li > ul > li {
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
}


.another_category { 
    /*포스팅 본문 내에서 카테고리 내 다른 글 안보이게 하기. 깔끔하게 만들기 위해서.*/
    /* display: none; */
}



#container #category a {
    color: lightgray;
}

#container #category a:hover {
    color: hotpink;
}


#container #category #category_in_list > ul {
    list-style: none;
    padding-left: 0;
}

#container #category #category_in_list > ul > li {
    border-bottom: solid 1px #EAECEF;
    margin-bottom: 5px;
    text-align: justify;
}



#tagTrail a {
    text-decoration: none;
}

#container #tags {
    text-align: justify;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

#container #tags > ul {
    padding-left: 0;
}
#container #tags > ul > li {
    list-style: none;
    display: inline;
}


#paging a {
    text-decoration: none;
    font-size: large;
    color: white;
    cursor: pointer;
}

#paging a:hover {
    /* text-decoration: underline; */
    font-size: larger;
    /* color: hotpink;  */
}

#paging .selected {
    /* color: hotpink; */
    /* text-decoration: underline; */
    font-weight: bold;
    font-size: larger;
}


#copy {
    display: inline;
    background-color: red;
    color: white;
    padding: 5px 10px;
    float: left;
}

#copy a {
    color: white;
}

.og-text {
    background-color: white;
}

/*푸터 CSS*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: #2F3336;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    display:flex; 
    align-items: center;
    z-index: 5;
    /* transition: 0.5s; */
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: none;
    color: #8CDCFE; 
}

.reply-linux {
    color:#4791CF;
    font-weight: bold;
}

.reply-linux a {
    color:#4791CF !important; 
    font-weight: bold;
}

.reply-linux1 {
    color:#B86E30;
    font-weight: bold;
}

.reply-linux1 a {
    color:#B86E30 !important;
    font-weight: bold;
}

.reply-linux2 {
    color:#4791CF;
    font-weight: bold;
}

.reply-linux2 a {
    color:#4791CF;
    font-weight: bold;
}

.address {
    color: #93C25C !important;
} 

.write {
    color: #93C25C !important;
}

.modify {
    color: #93C25C !important;
}

.tistoryProfileLayerTrigger {
    display: none !important;
}

@media (max-width:800px){


    #container_and_sidebar {
        display: block;
        margin-top: 50px;
        /* margin-bottom: 40px; */
    
    }

    #sidebar {
        display: block;
        width: 100%;
        position: static;
        overflow: hidden;

    }

    #sidebar-mobile {
        display: none;    
    }


    #header-menu {
        display: none;
    }

    #openbtn {
        display: inline;
    }

    .sidenav-mobile {
        height: calc(100% - 52px);
        width: 300px; 
        display: none;
        position: fixed;
        z-index: 10;
        right: 0;
        top: 52px;
        overflow-x: hidden;
        overflow-y: visible;
        /* transition: 0.5s; */
        padding: 0;
        background-color: #212426;
        border-left: 2px solid black;
    }

    .sidenav-mobile a {
        color: white;
    }
    
    .sidenav-mobile a:hover {
        color: hotpink;
    }

    /* .sidenav-mobile::-webkit-scrollbar {
        width: 5px;
    }
    
    .sidenav-mobile::-webkit-scrollbar-thumb {
        background-color: yellow; 
        background-clip: padding-box;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    .sidenav-mobile::-webkit-scrollbar-track {
        background-color: darkgrey;
    } */
    
}
